<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCcr_dY6R2nYgU-JZ0QPfzXF9yu_CmUuxM</string>
	<key>GCM_SENDER_ID</key>
	<string>142083239381</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.selldome.app</string>
	<key>PROJECT_ID</key>
	<string>my-projects-24483</string>
	<key>STORAGE_BUCKET</key>
	<string>my-projects-24483.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:142083239381:ios:313de7078f79503fc0215c</string>
</dict>
</plist>